$dotaOrange: #ff5422;

// NAV BAR STUFFS
.navbar {
  margin-bottom: 0px;
}
//
// .navbar ul {
//   margin-top: 15px;
// }
//
// .navbar p {
//   margin-top: 30px;
//   margin-right: 15px;
// }
//
// .navbar-brand img {
//     width: 50px;
// }

// END NAV BAR STUFFS

h2 {
  color: $dotaOrange;
  padding-left: 15px;
}
 .panel {
  min-height: calc(100vh - 63px);
  background-color: lightgrey;
  border-color: grey;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
 }

 .panel img {
  height: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
