<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 panel">
      {{#link-to 'treant'}}
      <img class ="image-responsive" src="/assets/images/treant-dota_2-loading_screen-seed_of_rebirth-set-(9315).jpg" alt="" />
      <!-- Credit: Leshiy https://steamcommunity.com/id/artleshiy/myworkshopfiles?appid=570 -->
      {{/link-to}}
    </div>
    <div class="col-md-3 panel">
      {{#link-to 'necrophos'}}
      <img class ="image-responsive" src="/assets/images/necrophos.jpg" alt="" />
      <!-- Credits: Shijie Zhao -->
      {{/link-to}}
    </div>
    <div class="col-md-3 panel">
      {{#link-to 'juggernaut'}}
      <img class ="image-responsive" src="/assets/images/beautiful-juggernault-figure-wallpaper.jpg" alt="" />
      <!-- Unable to find credit -->
      {{/link-to}}
    </div>
    <div class="col-md-3 panel">
      {{#link-to 'lich'}}
        <img class ="image-responsive" src="/assets/images/lich.jpg" alt="" />
      {{/link-to}}
    </div>
  </div>
</div>
