{{outlet}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 panel">
      <img class ="image-responsive" src="/assets/images/beautiful-juggernault-figure-wallpaper.jpg" alt="" />
      <!-- Unable to find credit -->
    </div>
    <div class="col-md-9">
      <h2>Juggernaut</h2>
      <div class="twoColumns">
        No one has ever seen the face hidden beneath the mask of Yurnero the Juggernaut. It is only speculation that he even has one. For defying a corrupt lord, Yurnero was exiled from the ancient Isle of Masks--a punishment that saved his life. The isle soon after vanished beneath the waves in a night of vengeful magic. He alone remains to carry on the Isle's long Juggernaut tradition, one of ritual and swordplay. The last practitioner of the art, Yurnero's confidence and courage are the result of endless practice; his inventive bladework proves that he has never stopped challenging himself. Still, his motives are as unreadable as his expression. For a hero who has lost everything twice over, he fights as if victory is a foregone conclusion.
      </div>
      <h2>Abilities</h2>
      <div class="row">
        <div class="col-md-2">
          <h4>Blade Fury</h4>
          <img src="/assets/images/Blade_Fury_icon.png" alt="">
        </div>
        <div class="col-md-2">
          <h4>Healing Ward</h4>
          <img src="/assets/images/Healing_Ward_icon.png" alt="">
        </div>
        <div class="col-md-2">
          <h4>Blade Dance</h4>
          <img src="/assets/images/Blade_Dance_icon.png" alt="">
        </div>
        <div class="col-md-2">
          <h4>Omnislash</h4>
          <img src="/assets/images/Omnislash_icon.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
