{{outlet}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 panel">
      <img class ="image-responsive" src="/assets/images/lich.jpg" alt="" />
      <!-- Unable to find credit -->
    </div>
    <div class="col-md-9 panel">
      <h2>Lich</h2>
    </div>
  </div>
</div>
