{{outlet}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 panel">
      <img class ="image-responsive" src="/assets/images/necrophos.jpg" alt="" />
      <!-- Credits: Shijie Zhao -->
    </div>
    <div class="col-md-9 panel">
      <h2>Necrophos</h2>
    </div>
  </div>
</div>
