{{outlet}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 panel">
      <img class ="image-responsive" src="/tribute/assets/images/necrophos.jpg" alt="" />
      <!-- Credits: Shijie Zhao -->
    </div>
    <div class="col-md-9">
      {{partial 'hero'}}
        <div class="twoColumns">
          In a time of great plague, an obscure monk of dark inclinations, one Rotund'jere, found himself promoted to the rank of Cardinal by the swift death of all his superiors. While others of the order went out to succor the ill, the newly ordained cardinal secluded himself within the Cathedral of Rumusque, busily scheming to acquire the property of dying nobles, promising them spiritual rewards if they signed over their terrestrial domains. As the plague receded to a few stubborn pockets, his behavior came to the attention of the greater order, which found him guilty of heresy and sentenced him to serve in the plague ward, ensorcelled with spells that would ensure him a slow and lingering illness. But they had not counted on his natural immunity. Rotund'jere caught the pox, but instead of dying, found it feeding his power, transforming him into a veritable plague-mage, a Pope of Pestilence. Proclaiming himself the Necrophos, he travels the world, spreading plague wherever he goes, and growing in terrible power with every village his pestilential presence obliterates.
        </div>
        <h2>Abilities</h2>
        <div class="row">
          <div class="col-md-2">
            <h4>Death Pulse</h4>
            <img src="/tribute/assets/images/Death_Pulse_icon.png" alt="">
          </div>
          <div class="col-md-2">
            <h4>Ghost Shroud</h4>
            <img src="/tribute/assets/images/Ghost_Shroud_icon.png" alt="">
          </div>
          <div class="col-md-2">
            <h4>Heartstopper Aura</h4>
            <img src="/tribute/assets/images/Heartstopper_Aura_icon.png" alt="">
          </div>
          <div class="col-md-2">
            <h4>Reaper's Scythe</h4>
            <img src="/tribute/assets/images/Reapers_Scythe_icon.png" alt="">
          </div>
        </div>
    </div>
  </div>
</div>
