{{outlet}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 panel">
      <img class ="image-responsive" src="/assets/images/treant-dota_2-loading_screen-seed_of_rebirth-set-(9315).jpg" alt="" />
      <!-- Credit: Leshiy https://steamcommunity.com/id/artleshiy/myworkshopfiles?appid=570 -->
    </div>
    <div class="col-md-9 panel">
      <h2>Treant Protector</h2>
    </div>
  </div>
</div>
